{{> header}}
{{> menu}}

<main>
    <h1>{{titolPagina}}</h1>
    <a href="/movieAdd" class="btn-primary" style="margin-bottom: 20px; display:inline-block;">+ Afegir Pel·lícula</a>

    <div class="table-container">
        <table>
            <tbody>
                {{#each movies}}
                <tr>
                    <td><strong>{{title}}</strong><br>{{description}}</td>
                    <td>{{release_year}} {{rating}}</td>
                    <td>{{actors}}</td>
                    <td>
                        <a href="/movie/{{film_id}}" class="btn-info">Veure detalls</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</main>

{{> footer}}